*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

body {
  background-color: rgb(77, 99, 99);
  font-size: 1.3em;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5,80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

.display {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
}
