html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

body {
  background: rgb(63, 80, 80);
  font-size: 1.3em;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5,80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

/* For small laptops and large tablets */

@media only screen and (max-width: 1025px) {
  body {
    font-size: 1.8rem;
  }

  .calculator-grid {
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
  }
}

/* For small tablets and phones */

@media only screen and (max-width: 520px) {
  body {
    font-size: 1.4rem;
  }

  .calculator-grid {
    grid-template-columns: repeat(5, 65px);
    grid-template-rows: minmax(120px, auto) repeat(4, 80px);
  }
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  background-color: #646464d5;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

/* .calculator {
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgb(45, 44, 44);
  text-align: right;
}

.output {
  width: 100%;
  height: 15vh;
  background: rgb(80, 77, 77);
  color: white;
  -webkit-flow-into: 2px;
  font-size: 28px;
  padding: 25px;
}

.input {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

button {
  border:rgb(45, 44, 44);
  background-color: rgb(183, 180, 180);
  padding: 1.7rem;
  font-size: 14px;
}

.result {
  font-size: 18px;
  padding: 25px;
}

@keyframes big {
  0% {
    font-size: 18px;
  }
  100% {
    font-size: 30px;
  }
}

@key




.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5,80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word; 
} */
